/* Color del fondo de la web */

body {
    background: #111;
}

/* Estilo del encabezado */

.encabezado {
    color: #fff;
    display: flex;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
}

/* Estilo del canvas */

.contenedor-canvas {
    background: #000;
    border: 1px solid #fff;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo de los botones */

.boton {
    background: #111;
    padding: 0.5rem 1rem; 
    border-radius: 0.75rem; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: white;
    transition: border-color 0.3s ease;
    align-items: center;
    justify-content: center;
    
}

.boton:hover {
    border-color: rgba(255, 255, 255, 0.8); 
}

.boton:active {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
}

.botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

/* Estilo del texto */

.texto {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
}
