<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto OCR</title>
</head>
<body>
    <h1>Dibuja un número del 1 al 9</h1>
    <canvas id="canvas" width="200" height="200" style="border: 1px solid"></canvas>
    <button onclick="predict()">Predecir</button>
    <button onclick="clearCanvas()">Limpiar</button>
    <p id="result"></p>

    <script src="/static/ocr.js"></script>
</body>
</html>