<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Título de la página que se muestra en la pestaña del navegador -->
    <title>Proyecto OCR</title>
</head>
<body>
    <!-- Contenedor principal de la interfaz -->
    <div>
        <!-- Encabezado -->
        <h1>Dibuja un número del 1 al 9</h1>
        <!-- Área de dibujo. Un canvas de 200x200 píxeles con borde visible -->
        <canvas id="canvas" width="200" height="200" style="border: 1px solid"></canvas>
        <!-- Botón que llama a la función predict() al hacer clic -->
        <button onclick="predict()">Predecir</button>
        <!-- Botón que llama a la función clearCanvas() para limpiar el canvas -->
        <button onclick="clearCanvas()">Limpiar</button>
        <!-- Párrafo donde se mostrará el resultado de la predicción -->
        <p id="result"></p>
    </div>

    <!-- Conenedor de entrenamiento del modelo -->
    <div>
        <input type="number" id="label" placeholder="Escribe el número debujado" min="0" max="9">
        <button onclick="train()">Entrenar con este dibujo</button>
    </div>

    <!-- Enlace al archivo JavaScript que contiene la lógica del canvas y la predicción -->
    <script src="/static/ocr.js"></script>
</body>
</html>